.header {
    background-color: rgb(169, 216, 176);
    width: 100%;
}

.header img {
    width: 95px;
    height: 50px;
    margin-left: 190px;
}

.loginBlock {
    float: right;
    margin-right: 200px;
    font-size: 16px;
    vertical-align: middle;
    margin-top: 10px;
}

.loginBlock a {
    color: white;
    text-decoration: underline;
}

.userName {
    font-size: 18px;
    font-weight: 600;
}

.logout {
    cursor: pointer;
}
.logout:hover {
    text-decoration: underline;
}