.nav {
    grid-area: n;
    background-color: white;
    padding: 20px;
    margin: 10px;
}

.item a {
    color: gray;
    text-decoration: none;
}

.item a.activeLink {
    color: rgb(169, 216, 176);
}