.profileInfo {
  margin: 10px 0 0 10px;
}

.profilePhoto img {
  width: 250px;
  height: 250px;
  border-radius: 1%;
}

.descriptionBlock {
  padding: 10px;
}

.status {
  cursor: pointer;
}
.status:hover {
  background-color: rgb(221, 210, 210);
}

.contact {
  padding-left: 10px;
}