.profileInfo {
  display: flex;
  margin: 10px 0 0 10px;
  padding-top: 10px;
}

.profilePhoto img {
  width: 250px;
  height: 250px;
  border-radius: 1%;
}

.status {
  line-height: 1.9;
  cursor: pointer;
  border-bottom: 1px solid #000;
}
.status:hover {
  background-color: rgb(221, 210, 210);
}

.statusOther {
  line-height: 1.9;
  border-bottom: 1px solid #000;
}

.contact {
  padding-left: 15px;
}

.description {
  display: flex;
  margin-top: 15px;
}

.fullName {
  font-size: 21px;
}

.aboutMe {
  width: 300px;
}