.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs .dialogsItems {
  padding: 10px;
}

.dialogs .dialogsItems .dialog a {
  color: gray;
  text-decoration: none;
}
.dialogs .dialogsItems .dialog a.active {
  color: rgb(169, 216, 176);
}

.messages {
  padding: 10px;
}

.messages .message {

}