.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs .dialogsItems {
  padding: 10px;
}

.dialogs .dialogsItems .dialog a {
  color: white;
  text-decoration: none;
}
.dialogs .dialogsItems .dialog a.active {
  color: gold;
}



.messages {
  padding: 10px;
}

.messages .message {

}